div(ng-controller="CompetitorViewCtrl")
    p Title: {{competitor.title}}
    p
        form(ng-submit="saveCompetitor(competitor)")
            input(type="submit", value="Save Changes")
    p View a Competitor
        ul
            li index: {{$index_1}}
            li name:
                input(type="text", ng-model="competitor.email")
                br
                {{ competitor.email }}
            li email:
                input(type="text", ng-model="competitor.name")
                br
                {{ competitor.name }}
            li type:
                input(type="text", ng-model="competitor.type")
                br
                {{ competitor.type }}

