div(ng-controller='CompetitorsCtrl')
p {{title}}

table.twelve
  tr
    th Index
    th name
    tr(ng-repeat="competitor in competitors")
      td 
        {{$index + 1}} 
      td 
        a(href='competitors/{{ competitor._id}}') {{competitor.name}}
