div(ng-controller='TournamentViewCtrl')
  p Add A Tournament
    form(ng-submit="saveTournament(tournament)")
      input(type="submit", value="Add Tournament")
  p 
    div.row
      div.large-5.columns
        label name
        input(type="text", ng-model="tournament.name")
      div.large-2.columns
        label start date:
        input(type="text", ng-model="tournament.start_date")
      div.large-2.columns
       label end date:
       input(type="text", ng-model="tournament.end_date")
      div.large-3.columns
        label type:
        input(type="text", ng-model="tournament.type")
    div.row
      div.large-7.columns
        label matches:
        table.small-12.columns
          tr(ng-repeat="match in tournament.matches")
            td
              button(ng-click="removeMatch($index)") X
            td{{match.location}}
            td{{match.date}}
            td{{match.description}}
      div.large-5.columns
        div.small-12.columns
            label location
            input(type="text", ng-model="location")
        div.small-12.columns
            label date
            input(type="text", ng-model="date")
        div.small-12.columns
            label description
            input(type="text", ng-model="description")
        div.small-12.columns
            button(ng-click="addMatch()") Add Match
    div.row
      div.large-7.columns
        label competitors:
        table.small-12.columns
          tr(ng-repeat="competitor in tournament.competitors")
            td
              button(ng-click="removeCompetitor(competitor,tournament.competitors)") X
            td {{ competitor.name }}
            td {{ competitor.email }}
      div.large-5.columns
        div.small-12.columns
            label name
            input(type="text", ng-model="new_competitor.name")
        div.small-12.columns
            label email
            input(type="text", ng-model="new_competitor.email")
        div.small-12.columns
            label type
            input(type="text", ng-model="new_competitor.type")
        div.small-12.columns
            button(ng-click="addCompetitor()") Add Competitor





    div.row

