div(ng-controller="TournamentViewCtrl")
  p Title: {{tournament.title}}
  p 
    form(ng-submit="saveTournament(tournament)")
      input(type="submit", value="Save Changes")
  p View a Tournament
    div.row
      div.large-12.columns
        label index: {{$index_1}}
    div.row
      div.large-5.columns
        label name
        input(type="text", ng-model="tournament.name")
      div.large-2.columns
        label start date:
        input(type="text", ng-model="tournament.start_date")
      div.large-2.columns
       label end date:
       input(type="text", ng-model="tournament.end_date")
      div.large-3.columns
        label type:
        input(type="text", ng-model="tournament.type")
    div.row
      div.large-7.columns
        label matches:
        table
          tr(ng-repeat="match in tournament.matches")
            td
              button(ng-click="removeMatch($index)") X
            td{{match.location}}
            td{{match.date}}
            td{{match.description}}
    div.row
      div.large-7.columns
        label competitors:
        table
          tr(ng-repeat="competitor in tournament.competitors")
            td 
              button(ng-click="removeCompetitor(competitor,tournament.competitors)") X
            td {{ competitor.name }}
            td {{ competitor.email }}
            td {{ competitor.type }}

