extends layout

block body
  div(ng-controller='AppCtrl')
    h1 {{title}}
    h2 Hello {{name}}
    ul.menu
      li
        a(href='view1') home
      li
        a(href='view2') about

    div(ng-view)

    div
      | Angular seed app: v
      span(app-version)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
