!!!
html(ng-app="joust")
  head
    meta(charset='utf8')
    base(href='/')
    title Joust - Smash Tournaments In The Face
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/foundation/css/foundation.css')
  body
    block body
